.imgNews{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px 10px 10px 15px;
}

.contentNews {
  display: flex;
  align-items: center;
}

.contentNewsUser {
  align-items: center;
}

.pageNews{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.plrNews{
  margin: 0 20px 10px 20px;
}

.conatinerDoc{
  margin: auto 30px;
  display: flex;
  align-items: center;
}

.conatinerDoc img{
  width: 50px;
  margin-right: 0.5rem;
  border-radius: 0;
}

.conatinerDoc a{
  font-size: 12px;
}


