.contentHome {
  display: flex;
  justify-content: space-around;
  text-align: center;
} 

.contentCarouselHome {
  position: relative;
  z-index: 1;
  padding-top: 80px;
}

.contentNew {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.TitleHome{
  margin-left: 30px;
}


.lineHome {
  border-color: #2F80ED; 
  border: 0.3px solid;
  margin: -19px 0 20px 20px;
  width: 60%;
}

.contenSliderHome{
  background-color: transparent;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
}