.contentHome {
  display: flex;
  justify-content: space-around;
  text-align: center;
} 

.contentCarouselHome {
  position: relative;
  z-index: 1;
}

.contentNew {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.TitleHome{
  border-bottom: 1px solid #2F80ED;
  width: 200px;
  margin-left: 30px;
}

.contenSliderHome{
  background-color: transparent;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
}