 .contentLogin {
  padding-top: 100px;
 }
 

 .contentLoginUser {
  width: 400px;
  height: 320px;
  border: 1px solid rgba(255, 255, 255, 0.445);
  background: rgba(255, 255, 255, 0.8);
  margin: auto;
  padding: 10px 20px;
  border-radius: 10px;
 }

.imgLogin {
  width: 100%;
  height: auto;
  padding: 10px 20px;
}

.w-10{
  width: 100%;
}

.inputLogin {
  border: 1px solid rgba(0, 0, 0, 0.226);
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 5px;
}

.inputLogin:hover {
  box-shadow: 0px 0px 20px 1px rgba(100, 64, 197, 0.185);
}

.inputLogin:focus{
  outline: none;
  box-shadow: 0px 0px 39px 4px rgba(100, 64, 197, 0.068);
}