.TitleCircular{
  border-bottom: 1px solid #2F80ED;
  width: auto;
  margin-left: 6px;
}

.ContentTitleCircular {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
}

.SpanCircular {
  background-color: #0065FF;
  width: 48px;
  height: 48px;
  padding: 7px 10px;
  border-radius: 10%;
}

.SpanCircular i {
  width: 24.01;
  height: 23.64;
  color: #ffffff;
}