.SpanContact{
    background-color: #0065FF;
    width: 48px;
    padding-top: 8px;
    height: 48px;
    border-radius: 10%;
    color: white;
}

.TitleContact{
    border-bottom: 3px solid #2b82f3;
    width: auto;
    margin-left: 6px;
    color: #000000;
}