.contentCarouselHome {
  position: relative;
  z-index: 1;
  padding: 90px 0 10px 0;
  width: 95%;
  margin: 0 2.5%;
}

.contentButtonHome {
 display: flex;
 height: 70px;
 width: 95%;
 margin: 0 2.5%;
}

.contentNew {
  background-color: rgba(255, 255, 255, 0.644);
  border-radius: 10px;
}

.TitleHome{
  margin-left: 30px;
}


.lineHome {
  border-color: #2F80ED; 
  border: 0.3px solid;
  margin: -19px 0 20px 20px;
  width: 60%;
}

.contenSliderHome{
  background-color: rgba(255, 255, 255, 0.609);
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
}

@media only screen and (max-width: 720px) {
  .contentButtonHome {
    flex-direction: column;
    height: 160px;
   }
}