.dropdown-menu-header {
  background: rgb(255, 255, 255) ;
  border-radius: 0 0 0 10px;
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  padding: 0px 15px;
}

.dropdown-menu-header-2 {
  margin-left: 10em;
}

.dropdown-menu-header-3 {
  margin-left: 20em;
}

.dropdown-menu-header li {
  cursor: pointer;
}

.dropdown-menu-header li:hover {
  border-bottom: 1px solid #1888ff;
  transition: all 0.5s ease-out;
}
.active {
  border-bottom: 1px solid #1888ff;
}

.dropdown-menu-header.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 15px;
  font-size: 14.1545px;
}

.dropdown-title {
  display: block;
  height: 100%;
  width: 120px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 0 30px;
  padding-top: 5px;
  text-align: center;
  border: none !important;
}

@media screen and (max-width: 1380px) {
  .dropdown-menu-header {
    padding-left: 40px;
    top: 0;
    right: 0;
    width: auto;
    position: initial;
    background-color: transparent;
    transition: all 0.2s ease-out;
  }

  .dropdown-menu-header-2 {
    margin-left: 0em;
  }
  
  .dropdown-menu-header-3 {
    margin-left: 0em;
  }

  .dropdown-title {
    width: auto;
    text-align: start;
    margin-right: auto;
  }

  .dropdown-link {
    padding: 5px 15px;
  }
}